body{
  font-family: 'Barlow Condensed', sans-serif;
  background-color:white;
}
strong{
  font-size: 20px;
}
.box{
  box-shadow: 15px 15px 15px 15px white;
}
.media{
  border:2px 2px solid aqua;
  padding: 5px;
}
img{
  margin-right: 12px;
}
nav .navbar{
  background-color: #909499 ;
}