body{
  font-family: 'Barlow Condensed', sans-serif;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYZp0npqgkmTcKyXyEoRZSe-mSpbEk1dII0wbyG-OB-J5FcNE9');
  background-size: cover; */
  background-color: #e9ebee;
}
strong{
  font-size: 20px;
}
.box{
  box-shadow: 15px 15px 15px 15px white;
}
.media{
  border:2px 2px solid aqua;
  padding: 5px;
}
img{
  margin-right: 12px;
}
nav .navbar{
  background-color: #909499 ;
}