{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="text-info mt-5" >
    <h1 class='font-weight-bold pt-3 ' >About page!</h1>
    <div  data-aos="flip-left" >
      They can be used for anything that involves communicating or publishing information on the World Wide Web. Common uses include teaching and educational and corporate use. . Your blog can be a personal diary, a project collaboration tool, a guide, or any means of communicating and publishing information on the web.
    </div>
  </div>
{% endblock content %} %}
  
