{% extends 'blog/base.html' %} 

{% block content %}
  {% for post in posts %}
    <div class="bg-light mt-3 row" >
      <div class="ml-4 mt-2" >
          <img src="{{post.author.profile.image.url }}" alt="" class="img-fluid rounded-circle" width="94" height="66">
      </div>
      <div class="mt-4">
        <strong class="text-info " >{{ post.author }}</strong>  {{ post.date_posted|date:'F d, Y' }} 
      </div>
      <div class="pl-4 pb-2 pt-2">
        <a class="text-info text-lg" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
        <p  >{{ post.content }} </p>
      </div>
    </div>
  {% endfor %} 
{% endblock content %}
  
{% comment %} Here F is full month name d for days number and Y for full year like  March 19, 2020  {% endcomment %}