{% extends 'blog/base.html' %} 
{% block content %}
  {% for post in posts %}
    <div class="bg-light mt-3 row" >
      <div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-3" >
          <img src="{{post.author.profile.image.url }}" alt="" class="img-fluid rounded-circle" width="94" height="66">
          <div class="mt-3">
            <a href="{% url 'post-user' post.author.username %}"><strong class="text-info">{{ post.author }}</strong></a>{{ post.date_posted|date:'F d, Y' }} 
          </div>
      </div>
      <div class=" pb-2 pt-2 col-12 col-sm-8 col-md-8 col-lg-8">
        <h1><a class="text-info text-lg" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
        <p>{{post.content}}</p>
      </div>
    </div>
  {% endfor %} 
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-info btn-sm active">First</a>
      <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info btn-sm active">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a href="?page={{num}}" class="btn btn-outline-info btn-sm ">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{num}}" class="btn btn-outline-info btn-sm ">{{num}}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info btn-sm active">Next</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info btn-sm active">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
  
{% comment %} Here F is full month name d for days number and Y for full year like  March 19, 2020  {% endcomment %}