{% extends 'blog/base.html' %} 
{% block content %}
  {% for post in posts %}
    <div class="bg-light mt-3 p-3" >
      <div data-aos="fade-right" data-aos-duration="3000">
        <img src="{{post.author.profile.image.url }}" alt="" class="img-fluid rounded-circle" width="50" height="43">
        <a href="{% url 'post-user' post.author.username %}" class="text-info">{{ post.author }}</a>
      &nbsp;{{ post.date_posted|date:'F d, Y' }} 
      </div>
      <div class="ml-5 pl-3" data-aos="fade-left" data-aos-duration="3000">
        <h2 class="font-weight-bold text-info  " >{{post.title}}</h2>
        <p>{{post.content}}</p>
        <a class="text-info" href="{% url 'post-detail' post.id %}">Read more...</a>
      </div>
    </div>
  {% endfor %} 
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page=1" class="btn btn-outline-info btn-sm active">First</a>
      <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info btn-sm active">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a href="?page={{num}}" class="btn btn-outline-info btn-sm ">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{num}}" class="btn btn-outline-info btn-sm ">{{num}}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info btn-sm active">Next</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info btn-sm active">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
  
{% comment %} Here F is full month name d for days number and Y for full year like  March 19, 2020  {% endcomment %}