{% extends 'blog/base.html' %}
{% block content %}
  <div class="bg-light mt-3 row text-center" >
    <div class="col-12" >
      <div class="ml-4 mt-2" >
        <img src="{{object.author.profile.image.url }}" alt="" class="img-fluid rounded" width="94" height="66">
      </div>
      <div class="mt-4">
        <strong class="text-info " >{{ object.author }}</strong>  {{ object.date_posted|date:'F d, Y' }} 
      </div>
    </div>
    <div class="col-12 pl-4 pb-2 pt-2">
      <h3>{{ object.title }}</h3>
      <p>{{ object.content }} </p>
    </div>
  </div>
{% endblock content %}