{% extends 'blog/base.html' %}
{% block content %}
  <div class="bg-light mt-3 row text-center" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="linear">
    <div class="col-12" >
      <div class="ml- 4 mt-2" >
        <img src="{{object.author.profile.image.url }}" alt="" class="img-fluid rounded-circle" width="205" height="86">
      </div>
      <div class="mt-4">
        <a href="{% url 'post-user' object.author.username %}"><strong class="text-info">{{ object.author }}</strong></a>  {{ object.date_posted|date:'F d, Y' }} 
      </div>
      <div class="mt-2" >
        {% if object.author == user %}
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'post-update' object.id  %}">Update</a>
          <a class="btn btn-outline-danger btn-sm" href="{% url 'post-delete' object.id  %}">Delete</a>
        {% endif %}
      </div>
    </div>
    <div class="col-12 pl-4 pb-2 pt-2">
      <h3>{{ object.title }}</h3>
      <p>{{ object.content }} </p>
    </div>
  </div>
{% endblock content %}