{% extends 'blog/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section bg-light mt-5">
    <div class="row ">
      <div class="ml-4 mt-2" >
        {% if user.profile.image.url %} 
          <img src="{{user.profile.image.url }}" alt="" class=" rounded-circle" width="94" height="66">
         {% else %}
          <img src="{{user.profile.image.url }}/media/azadari.png" alt="" class=" rounded-circle" width="94" height="66">
        {% endif %}
      </div>
      <div>
          <h2 class="Heading">{{user.username}}</h2>
          <p class="text-secondary">{{user.email}}</p>
      </div>
    </div>
    <form class="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="border-top" >
        <legend class="text-muted" >Update Profile</legend>
      </fieldset>
      <div class="form-group">
        {% comment %}as_p devide in paragrapjs not need because now i install crispy form  pip3 install django-crispy-forms.and add bootstrap4 init {% endcomment %}
        {{u_form|crispy}}  
        {{p_form|crispy}}  
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg" >Update Profile</button>
      </div>
    </form>
  </div>
{% endblock content %}